$max:100%;
$neikuan:1200px;
.box{
  width: $max;
  //height: $max;
}
.body{
  width: $neikuan;
  //height: auto;
  overflow: hidden;
  margin: 0 auto;
  margin: {
    top:50px;
    bottom:50px;
  };
  border: 1px solid #ccc;
}
h1{
  font-size: 36px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}